* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(0deg, hsl(240, 73%, 65%) 0%, hsl(273, 75%, 66%) 100%);
    height: 100vh;
    display: flex;
    font-size: 12px;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    padding: 0 30px;
}

.card {
    max-width: 910px;
    margin: auto;
    background-color: #ffffff;
    height: 500px;
    display: flex;
    padding: 70px 30px 80px 0;
    overflow: hidden;
    border-radius: 25px;
    background: -510px -260px / cover no-repeat url('../images/bg-pattern-desktop.svg'),
    #ffffff;
    position: relative;
    z-index: 0;
}

.card::before {
    content: '';
    width: 150px;
    height: 110px;
    position: absolute;
    background-image: url('../images/illustration-box-desktop.svg');
    top: 205px;
    left: -50px;
    z-index: 1;
}

.card__img {
    margin-right: 90px;
    margin-left: -70px;
    /* max-width: 470px; */
    /* max-height: 350px; */
    width: 54%;
    object-fit: contain;
}

.card__info {
    flex-basis: 350px;
}

.card__title {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 35px;
}